.entry-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
}

.entry-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.welcome-messages {
    text-align: center;
    margin-bottom: 20px;
}

.entry-buttons {
    margin-top: 30px;
}

.entry-button {
    display: inline-flex;
    align-items: center;
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.entry-button:hover {
    background-color: #2980b9;
}

.entry-icon {
    margin-right: 10px;
}

.welcome-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #282c34;
    color: white !important;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    white-space: normal;
    animation: none;
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
    text-align: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 1.8em;
    color: white;
    text-align: center;
}

.welcome-top:hover {
    transform: none;
    color: white;
}
