.pocetna-pozadina {
    background-image: url('/gamingbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
  }
  
  /* Dodatni stilovi za sadržaj unutar kontejnera */
  .pocetna-sadrzaj {
    text-align: center;
    /* Dodajte ostale stilove za sadržaj */
  }