.ruka{
    cursor: pointer;
}

.sredina{
    text-align: center;
}

.desno{
    text-align: right;
}

.siroko{
    width: 100%;
}

/* EntryPage.css */
.entry-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/gamingbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
  }
  
  .entry-content {
    background-color: rgba(0, 0, 0, 0.7); /* Prozirna pozadina */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .entry-buttons {
    margin-top: 30px;
  }
  
  .entry-button {
    display: inline-flex;
    align-items: center;
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  .entry-button:hover {
    background-color: #2980b9;
  }
  
  .entry-icon {
    margin-right: 10px;
  }

  /* App.css ili NavBarWebkupovinaigrica.css */
.animirana-poruka {
    position: absolute; /* Postavljamo apsolutnu poziciju */
    top: 470px; /* Prilagodite udaljenost od vrha */
    left: 50%; /* Centriramo horizontalno */
    transform: translateX(-50%); /* Centriramo horizontalno */
    font-size: 2em; /* Povećavamo veličinu teksta */
    font-weight: bold; /* Podebljavamo tekst */
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 2s infinite linear; /* Animacija pojavljivanja i nestajanja */
    opacity: 0; /* Početna neprozirnost */
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0; /* Neprozirno na početku i kraju */
    }
    10%, 90% {
      opacity: 1; /* Prozirno tijekom animacije */
    }
  }

  .copyright {
    color: white;
    text-decoration: none;
    display: block; /* Postavljamo na block element da zauzme cijelu širinu */
    text-align: center; /* Centriranje teksta */
  }
  
  .copyright:hover {
    text-decoration: underline;
  }